body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-size: 4rem;
  color: white;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
}

.btn-light{
  background-color: orange;
  border-color: orange;
}

.btn-light:hover{
  border-width: 4px;
  background-color: orange;
  border-color: orange;
}

.btn-xl{
  padding: 1rem 2rem;
}

hr {
  margin: 70px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px; /*maximum width of the hr*/
  opacity: 1;  
}
.row{
  color: white;
}

.buffer{
  height: 200px;
}